@import "tailwindcss";
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --ck-content-font-family: "Lato";
}

.main-container {
  font-family: var(--ck-content-font-family);
  margin: auto;
  width: fit-content;
}

.editor-container_classic-editor .editor-container__editor {
  min-width: 795px;
  max-width: 795px;
}
